{
	admin off
    auto_https off

    debug
    log caddy {
        output stdout
        format console
        level DEBUG
    }

    http_port 80
    https_port 443

    filesystem ca-repo git https://github.com/GoldenDeals/gd-ca.git {
        refresh_period 5m
    }
    
	email admin@goldendeals.ru
	pki {
		ca gdllc {
			name "Golden Deals LLC Private CA"

			root {
				format pem_file
				cert /etc/caddy/ca/root.cert.pem
			}

			intermediate {
				format pem_file
				cert /etc/caddy/ca/intermediate.cert.pem
				key  /etc/caddy/ca/intermediate.key.pem
			}
		}
	}
}

http:// {
    redir https://{host}{uri}
}

acme.gdllc.ru, acme.gdllc.local {
	tls {
		issuer internal {
			ca gdllc
		}
		on_demand
	}

        
	acme_server {
		ca gdllc

		allow {
			domains gdllc.ru gdllc.local
		}
	}

	@root path /
	respond @root "Golden Deals LLC ACME: use https://acme.gdllc.ru/acme/gdllc/directory" 200
}

ca.gdllc.ru {
	tls {
		issuer acme {
			email admin@goldendeals.ru
			#dir https://acme-v02.api.letsencrypt.org/directory
			dir https://acme-staging-v02.api.letsencrypt.org/directory
		}
        on_demand
	}

    root * /public

    route {
        rate_limit {remote.ip} 100r/m
        file_server {
            fs ca-repo
        }
    }
}

ca.gdllc.local ca.gdllc.dev {
	tls {
		issuer acme {
			dir https://acme.gdllc.local/acme/gdllc/directory
			trusted_roots /etc/caddy/ca/root.cert.pem
		}
		on_demand
	}

    root * /public

    route {
        rate_limit {remote.ip} 100r/m
        file_server {
            fs ca-repo
        }
    }
}
